/* Add a black background color to the top navigation */
body {
  background-color: #000000;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Lucida Console";
  color: #4b4b4b;
  font-size: 54px;
  margin-left: 56px;
}

h2 {
  margin-top: -24px;
  font-family: "Lucida Console";
  color: #949494;
  font-size: 32px;
  margin-left: 56px;
}

p1 {
  margin-left: 56px;
  font-family: "Lucida Console";
  color: #4b4b4b;
  font-size: 22px;
}

p2 {
  margin-left: 56px;
  font-family: "Lucida Console";
  color: #949494;
  font-size: 32px;
}

img.pfp {
  border-radius: 50%;
  float: right;
  filter: grayscale(100%);
  width: 300px;
  height: 300px;
  margin-right: 64px;
  margin-top: -88px;
}

.cursor {
  animation: blink 2s step-start 0s infinite;
  background-color: #949494;
  width: 18px;
  height: 30px;
  display: inline-block;
  margin-left: -1px;
  margin-top: -24px;
  margin-bottom: -5px;
}

hr.seperate {
  border-top: 3px dashed #101010;
  border-bottom: 3px solid transparent;
  margin-top: 333px;
  margin-bottom: 111px;
}


@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 2px;
  transition: width 1s;
}

::-webkit-scrollbar:hover {
  width: 10px;
  transition: width 1s;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #4b4b4b;
}

/* navbar */

.topnav {
    font-family: "Lucida Console";
    background-color: #040404;
    overflow: hidden;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 8px;
    border-bottom: 2px solid #080808;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.4), 0 2px 4px -1px rgba(0,0,0,0.06);
    z-index: 9999;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #4b4b4b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 6px;
  }

  .topnav a.bio, .topnav a.contact {
    margin-top: 3px;
    padding: 12px 14px;
    background-color: #101010;
    border-radius: 9px;
    color: #949494;
    border: 1px solid #101010;
    transition: color 0.4s;
    transition: border 0.4s;
    font-weight: 100;
    font-size: 13px;
    user-select: none;
    cursor: pointer;
  }
  
  .topnav a.bio:hover, .topnav a.contact:hover {
    border: 1px solid #949494;
    color: #fff;
    transition: color 0.4s;
    transition: border 0.4s;
  }
  
  .topnav a.name {
    color: #949494;
    margin-left: 19px;
    transition: color 0.4s;
    user-select: none;
  }

  .topnav a.github {
    width: 15px; 
    height: 15px; 
    margin-top: -7px;
    opacity: 0.3;
    transition: opacity 0.4s;
    user-select: none;
  }

  .topnav a.github:hover {
    opacity: 1;
    transition: opacity 0.4s;
  }

  .topnav a.divider {
    margin-left: -8px;
    user-select: none;
  }

  .topnav a.name:hover {
    transition: color 0.4s;
    color: #fff;
  }

  /* buttons */

  .buttons1 {
    margin-top: 40px;
  }

  .buttons1 a {
    padding: 18px 40px;
    background-color: #949494;
    background-color: #141414;
    border-radius: 9px;
    color: #949494;
    border: 1px solid #101010;
    transition: color 0.4s;
    transition: border 0.4s;
    font-weight: 100;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
  }

  .buttons1 a:first-child {
    margin-left: 56px;
  }

  .buttons1 a:hover {
    border: 1px solid #949494;
    color: #fff;
    transition: color 0.4s;
    transition: border 0.4s;
  }

  .home {
    margin-left: 128px;
    margin-top: 128px;
    margin-right: 128px;

    padding-bottom: 64px;
    padding-top: 64px;

    background-color: #101010;
    border-radius: 14px;
  }