body {
	background-color: black;
}

#matrix-rain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    /* Remove background-color: #000; */
    background: transparent; 
}
